spring:
  datasource:
    url: jdbc:postgresql://${DB_HOST:db-server}:${DB_PORT:5432}/${DB_NAME:staging_db}
    username: ${POSTGRES_USER:admin}
    password: ${POSTGRES_PASSWORD:password}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
      connection-timeout: 30000
      idle-timeout: 600000
      max-lifetime: 1800000 

eureka:
  client:
    serviceUrl:
      defaultZone: ${EUREKA_URI:http://eureka-server:8761/eureka}
  instance:
    preferIpAddress: true
    lease-renewal-interval-in-seconds: 10
    lease-expiration-duration-in-seconds: 30

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      show-details: always

redis:
  host: ${REDIS_HOST:redis-server}
  port: ${REDIS_PORT:6379}
  password: ${REDIS_PASSWORD:}
  timeout: 60000
  lettuce:
    pool:
      max-active: 8
      max-idle: 8
      min-idle: 0

logging:
  level:
    root: INFO # Less verbose for staging
    com.finx: INFO # Or DEBUG if you want more verbose logs from your own code
    org.springframework.web: INFO
    org.hibernate: INFO
    org.springframework.security: INFO
    reactor.netty: INFO # Often noisy in gateway/webflux apps
    org.springframework.cloud.gateway: INFO # For API Gateway